<ul class="nav nav-tabs nav-pills my-1">
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink='home' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Inicio</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink='task/list' routerLinkActive='active'>Lista De Tareas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='task/new' routerLinkActive='active'><i class="bi bi-bookmark-plus"></i>Nueva Tarea </a>
    </li>
  </ul>
