<div class="conteiner mt-5">
    <div class="row mt-5 justify-content-center">
        <h1>Lista de Tareas</h1>
    </div>
    <div class="row mt-5 justify-content-center">
        <table class="table mx-5 table-bordered">
            <thead class="text-center">
              <tr>
                <th class="col-3 text-center">Titulo</th>
                <th class="col-3 text-center">Descripción</th>
                <th class="col-3 text-center">Estado</th>
                <th class="col text-center">Acciones</th>
              </tr>
            </thead>
            <tbody class="mt-5 ">
              <tr *ngFor="let task of tasks">
                <td class="text-center">{{task.title}}</td>
                <td class="text-center">{{task.description}}</td>
                <td class="text-center">{{task.state}}</td>
                <td class="text-center" class="text-center justify-content-around">
                  <!-- <input class="mx-1" data-bs-toggle="tooltip" title=""  type="checkbox" [ngModel]="task.state"> -->
                  <em class="mx-1 fontIcon bi bi-pencil-square" data-bs-toggle="tooltip" title="Editar"></em>
                  <em class="mx-1 fontIcon bi bi-bookmark-check" data-bs-toggle="tooltip" title="Marcar completada" ></em>
                  <em class="mx-1 fontIcon bi bi-bookmark-x" data-bs-toggle="tooltip" title="Eliminar"></em>                  
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
  
  
