<form>
    <div class="container mt-5 px-5 border border-primary">
        <div class="my-5 text-center color-text"><h1>{{name}}</h1></div>
        <div class="form-group">
            <label for="title"class="color-text">Título:</label>
            <input type="text" name="titulo" placeholder="Ingrese el titulo" [(ngModel)]="titulo" class="form-control" maxlength="50">
        </div>
        <div class="form-group">
            <label for="description" class="color-text">Descripción:</label>
            <input type="text" name="descripcion" placeholder="Ingrese la descripción"  [(ngModel)]="descripcion" class="form-control" maxlength="90">
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-6 d-flex justify-content-center">
                <button type="submit" class="w-75 btn btn-primary btn-lg" (click)="submitForm()">Guardar</button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button type="button" class="w-75 btn btn-primary btn-lg" (click)="close.emit()">Cancelar</button>
            </div>
        </div>
    </div>
</form>
  
