<div class="m-5 p-5 conteiner border border-primary">
    <div class="row  justify-content-center">
        <h1 class="color-text "> ¿Esta seguro de {{component}} esta tarea?</h1>
    </div>
    <div class="row  mt-3">
        <div class="col-6 d-flex justify-content-center">
            <button type="button" class="w-75 btn btn-primary btn-lg" (click)="accepted.emit()">Si</button>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <button type="button" class="w-75 btn btn-primary btn-lg" (click)="close.emit()">No</button>
        </div>
    </div>
</div>
